<!DOCTYPE html>
<html>
<head>
  <title>GitHubTrelloWebhook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "_partial/navbar" %>
<%= yield %>


<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/#{Jquery::Rails::JQUERY_VERSION}/jquery.min.js" %>
<script>window.jQuery || document.write('<script src="<%= javascript_path("jquery.min") %>"><\/script>')</script>
</body>
</html>
